 .searchBox {
      border: none;
      font-size: 10px;
      min-height: 50px;
    }
    .inputField { 
        margin: 10px;
    }
    .chips{ 
      background: red;
    }
    optionContainer{ 
      border: 2px solid;
    }
    option {
      color: green;
    }

    .hover-drop:hover{
      cursor: pointer;
    }

    .drop-item:hover{
      color: indigo;

    }
    
   